:root {
    --main-bg-color: rgb(250, 250, 250);
    --main-text-color: #3f3827;
    --strong-text-color: #353336;
    --subtle-color: #eee;
    --primary-color: #ffdb6b;
    --primary-color-light: #ffe79e;
    --primary-color-dark: #e49d03;
    --primary-color-dark-light: #ddad44;
    --link-color: #867b73;
    --outline: #7745f3;
    --container-bg: rgb(240, 240, 240);
    --gradient: linear-gradient(139deg, rgba(79, 47, 158, 1) 0%, rgba(167, 108, 137, 1) 100%);
    --shadow: 0 4px 18px -6px rgba(#381e79, 0.8);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: rgb(41, 42, 45);
        --main-text-color: rgb(181, 181, 182);
        --strong-text-color: rgb(205, 205, 206);
        --subtle-color: #535353;
        --link-color: #8b8b8b;
        --outline: #d0b1ff;
        --container-bg: #39373b;
        --shadow: 0 4px 18px -6px rgba(#47424b, 0.8);
    }
}