@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
        url('../fonts/LibreFranklin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Italic.woff2') format('woff2'),
        url('../fonts/LibreFranklin-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
        url('../fonts/LibreFranklin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin'; 
    src: url('../fonts/LibreFranklin-BoldItalic.woff2') format('woff2'),
        url('../fonts/LibreFranklin-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Carey-Type';
    src: url('../fonts/Carey-Type.woff2') format('woff2'),
        url('../fonts/Carey-Type.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-font: 'Libre Franklin', sans-serif;
}