@use '_colors.scss';
@use '_fonts.scss';

*:focus-visible {
	outline: 4px solid var(--outline);
}

html {
	font-family: sans-serif;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}

body {
	padding: 10px 10px;
	font-size: 0.9em;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

a {
	color: var(--link-color);
	text-decoration: underline;
}

header {
	text-align: center;
	margin-bottom: 25px;
	border-bottom: 3px solid var(--subtle-color);

	img {
		width: 90px;
		height: auto;
		border-radius: 50%;
	}

	h1.title {
		font-size: 2.3em;
		margin-top: 10px;
		margin-bottom: 3px;
		font-family: var(--primary-font);
		color: var(--strong-text-color);
	}

	p.subtitle {
		font-family: var(--primary-font);
		font-style: italic;
		letter-spacing: 0.03em;
		font-size: 0.88em;
		line-height: 1.25em;
		margin-top: 0px;
		margin-bottom: 20px;
	}
}

.appContainer {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--subtle-color);

	h2 {
		font-size: 1.6em;
		margin: 0.75em 0 0.5em;
		letter-spacing: -0.01em;
		font-family: var(--primary-font);
		color: var(--strong-text-color);
		font-weight: 700;
	}

	p {
		line-height: 1.8em;
	}

	.linkButton {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 2px 12px;
		border-width: 0 0 2px;
		border-color: var(--primary-color-dark);
		border-style: solid;
		border-radius: 4px;
		text-decoration: none !important;
		color: #000;
		background-color: var(--primary-color);
		transition: box-shadow 300ms, background-color 300ms, color 300ms;

		&:hover,
		&:focus {
			background-color: var(--primary-color-light);
			border-color: var(--primary-color-dark-light);
			// box-shadow: 0 0.3px 1.3px -4px rgba(0, 0, 0, 0.1),
			// 	0 0.9px 4.5px -4px rgba(0, 0, 0, 0.2),
			// 	0 4px 20px -4px rgba(0, 0, 0, 0.28);
		}

		img {
			width: 16px;
			margin-left: 8px;
		}
	}
}

footer {
	font-size: 0.8em;
	letter-spacing: 0.02em;
	text-align: center;
}